<div class="absolute-container">
  <div class="container p-0">
    <div class="padding-container p-lr-24 sm-p-lr-16">
      <div class="advertisement d-flex flex-d-col justify-center align-center m-b-50">
        <div class="title m-b-30 d-flex">
          <span class="md-m-lr-20">
            Looking to collaborate with creators & influencers to drive business
            growth?
          </span>
        </div>
        <div class="button">
          <button class="general">
            <span>Talk to us</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
