<div class="absolute-container">
  <div class="container p-0">
    <div class="padding-container p-lr-24 sm-p-lr-16">
      <div class="inner-container p-lr-40 lg-p-lr-20 sm-p-lr-0">
        <div
          class="top-part md-justify-space-arround md-flex-d-col d-flex justify-space-between align-center m-b-80 md-m-b-50"
        >
          <div class="title d-flex flex-d-col">
            <span>Signup for latest news and</span>
            <span>insights from Influencer</span>
          </div>
          <div class="data d-flex">
            <div class="input d-flex align-center m-r-20">
              <img
                class="p-l-25 p-r-10"
                src="/assets/svg/email-footer.svg"
                alt=""
              />
              <input
                class="lg-p-r-25"
                placeholder="Enter your email address"
                type="text"
              />
            </div>
            <button (click)="openModal('subscribe')">
              <span>Subscribe</span>
            </button>
          </div>
        </div>
        <div class="footer-info justify-space-between d-flex xl-flex-d-col">
          <div
            class="d-flex xl-justify-space-arround lg-justify-space-between md-flex-d-col"
          >
            <div
              class="button-part md-m-b-50 m-r-70 lg-m-r-0 d-flex sm-justify-space-arround"
            >
              <div class="logo-part d-flex flex-d-col">
                <span class="logo m-b-26">LOGO</span>
                <span class="text m-b-26"
                  >We create digital experiences for brands and companies by
                  using technology.</span
                >
                <img src="/assets/svg/networks.svg" alt="" />
              </div>
              <div class="company">
                <span class="title text">Company</span>
                <div class="text d-flex flex-d-col">
                  <span class="m-b-18 m-t-35">About company</span>
                  <span class="m-b-18">Company services</span>
                  <span class="m-b-18">Job opportunities</span>
                  <span>Creative people</span>
                </div>
              </div>
            </div>
            <div class="info d-flex md-justify-space-arround">
              <div class="company">
                <span class="title">Company</span>
                <div class="text d-flex flex-d-col">
                  <span class="m-b-18 m-t-35">About company</span>
                  <span class="m-b-18">Company services</span>
                  <span class="m-b-18">Job opportunities</span>
                  <span>Creative people</span>
                </div>
              </div>
              <div class="p-lr-60 sm-p-lr-0">
                <span class="title">Customer</span>
                <div class="text d-flex flex-d-col">
                  <span class="m-b-18 m-t-35">Client support</span>
                  <span class="m-b-18">Latest news</span>
                  <span class="m-b-18">Company story</span>
                  <span>Pricing packages</span>
                </div>
              </div>
              <div>
                <span class="title">Contact Info</span>
                <div class="text d-flex flex-d-col">
                  <div class="d-flex m-b-22 m-t-35 align-center">
                    <img
                      class="m-r-10 email-footer"
                      src="/assets/svg/email-footer.svg"
                      alt=""
                    />
                    <span>info&#64;yourmail.com</span>
                  </div>

                  <div class="d-flex m-b-22 align-center">
                    <img class="m-r-10" src="/assets/svg/number.svg" alt="" />
                    <span>+885 543 4565</span>
                  </div>
                  <div class="d-flex align-center">
                    <img class="m-r-10" src="/assets/svg/location.svg" alt="" />
                    <div class="d-flex flex-d-col">
                      <span>401 Broadway,</span>
                      <span>24th Floor, London</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="buttons xl-m-t-50 xl-justify-center d-flex flex-d-col justify-end xl-flex-d-row xl-m-b-50"
          >
            <button class="general m-b-20 xl-m-b-0 xl-m-r-20">
              Register as Influcener
            </button>
            <button class="general">Register as Brand</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="under-footer">
  <div class="copyright">
    <div class="container p-0 sm-p-b-0">
      <div class="padding-container p-lr-24 sm-p-lr-7">
        <div class="p-lr-40 md-p-lr-0 d-flex justify-space-between h-100">
          <div class="d-flex align-center">
            <span>© Copyright 2023 - Jehad</span>
          </div>
          <div class="d-flex align-center">
            <span>Privacy policy</span>
            <span class="m-lr-20 md-m-lr-15">Legal notice</span>
            <span>Terms of service</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
