button {
  &.general {
    border: none;
    width: 100%;
    height: 50px;
    background-color: var(--light-red);
    border-radius: 10px;
    color: var(--white);
  }
  &.social {
    font-family: "Switzer", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: var(--black);
    img {
      width: 25px;
      height: 25px;
    }
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--white);
    width: auto;
    height: 54px;
  }
  &:disabled {
    opacity: 0.5; /* Меняем прозрачность кнопки */
  }
}

.checkbox {
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1.5px solid var(--light-gray);
    border-radius: 6px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox:checked + label::before {
    border-color: var(--light-red);
    background-color: var(--light-red);
    background-image: url("/assets/svg/done-white.svg");
  }
  .custom-checkbox:checked + label::after {
    border-color: var(--light-red);
    background-color: var(--light-red);
  }
}
